html
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav h1
{
    padding: 0px 0px 0px 36px;
    color:cornflowerblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li 
{
    float: left;
}
  
nav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0px 0px 0px 24px;
    text-decoration: none;
}
  
nav li a:hover 
{
    background-color: #111;
    color: deepskyblue;
    text-decoration: none;
}

textarea
{
    width: 80%;
    height: 600px;
    align-self: center;
    display: block;
    margin: 12px auto auto auto;
    padding: 6px;
}

footer
{
    position: absolute;
    bottom: -32px;
    width: 100%;
    background-color: #EEE;
    color: #888;
    text-align: center;
    padding: 6px;
}
