html
{
    font-family:'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
}

nav h1
{
    padding: 0px 0px 0px 12px;
    color:cornflowerblue;
    font-size: 48px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li 
{
    float: left;
}
  
nav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0px 0px 0px 24px;
    text-decoration: none;
}
  
nav li a:hover 
{
    background-color: #111;
    color: deepskyblue;
    text-decoration: none;
}

textarea
{
    width: 80%;
    height: 600px;
    align-self: center;
    display: block;
    margin: 12px auto auto auto;
    padding: 6px;
}

footer
{
    position: relative;
    bottom: -32px;
    width: 100%;
    background-color: #EEE;
    color: #888;
    text-align: center;
    padding: 6px;
}

/* Data table */
table.dataTable {
    width: 100%;
    height: 100%;
}
table.dataTable tbody td {
font-size: 12px;
color: #727272;
}
table.dataTable thead {
background: #C8D8E2;
}
table.dataTable thead th {
font-size: 14px;
font-weight: bold;
}
table.dataTable tfoot {
font-weight: bold;
}

/* Forms */
form {
    display: block;
    width: 50%;
    padding: 12px;
}