{% extends "layout.html" %}

{% block main%}

    <form action="/browse" method="post">

        <label for="nations">Select a country to view available data in database: </label>
        <br>
        <select name="nation">
            {% for nation in nations_list %}
                <option value={{nation[0]}}>{{nation[1]}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="start_year">Input start year:</label>
        <input type="number" name="start_year" min="1800" max="{{current_year-1}}" value="1900" step=1>
        <br>
        <label for="end_year">Input end year:</label>
        <input type="number" name="end_year" min="1801" max="{{current_year}}" value="2020" step=1>
        <br>
        <button type="submit"> Load Data </button>
    </form>

    <div {{hide}}>

        <h2> Data for {{nation}} </h2>

        <h3><a href={{download_link}}>Download Data as CSV</a></h3>

        <table class="dataTable">
            <thead>
                {% for header in header_row %}
                    <th>{{header}}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in table %}
                    <tr>
                        {% for entry in row %}
                            <td>{{entry}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}