{% extends "layout.html" %}

{% block title %}
    Home | HydroTrend
{% endblock %}

{% block main %}
    <h2>About</h2>
    <p>HydroTrend is a web application for uploading, browsing, downloading, and analysing rainfall data around the globe. It was built as a final project for the Harvard CS50X Computer Science course,
    and to facilitate independent climate research for UNSW. It is open source and a work in progress, so please feel free to contribute to the codebase at this repository: <a href="https://github.com/cuebits/hydro-trend">https://github.com/cuebits/hydro-trend</a>.
    <h3>Rainfall Stations in Database</h3>
    <p>The below map shows the current rainfall stations available in the database.<p>
    {% include "map.html" %}   

{% endblock %}