<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <title>
        {% block title%}{% endblock %}
        </title>

    </head>

    <body>
        <nav>
            <h1><b>HydroTrend</b></h1>
            <ul>
                <li class="nav-item"> <a href="\"> Home </a> </li>
                <li class="nav-item"> <a href="\upload"> Upload Data </a> </li>
                <li class="nav-item"> <a href="\browse"> Browse Data </a> </li>
                <li class="nav-item"> <a href="\stats"> Analyse Data </a> </li>
            </ul>
        </nav>

        {% block main %}{% endblock %}
        <br>
        <br>
        <footer>
            Created for CS50.
        </footer>
    </body>
</html>