{% extends "layout.html" %}

{% block main%}

    <h2>Upload Rainfall Data to the Database</h2>
    <p>To contribute data to the database, <a href="\template">download this CSV template and paste in your data</a>. Then copy and paste into the below box and click submit. Make sure the data
        is formatted correctly, with the "Station", "Latitude", "Longitude" labels remaining, and station names. Use monthly rainfall data and ISO date formats.</p>

    <form action="/upload" method="post">

        <textarea name="data" placeholder="{{placeholder}}""></textarea>
        <br>
        <button type="submit"> Submit to Database </button>
    </form>

{% endblock %}